<!DOCTYPE html>

<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container"> 
            <div class="row"> 
                <h1> Food Menu</h1>
            </div> 
            
            <table class="table table-striped table-bordered" >
                   <thead class="table-dark">
                       
               <tr>
                   <th> ID</th>
                   <th> Description </th>
                   <th> Price </th>
                   <th> Quantity </th>
                   <th> User ID </th>
                   <th> Action </th>
                   
                   
                   
               </tr>
                  </thead>
                  <tbody>
                       
                      <tr th:each="item: ${menu}">  
                        <form th:action="@{/customer/{order_id} (order_id=${item.item_id})}"  method="get" >   
                          <td th:text="${item.item_id}"></td>                    
                          <td th:text="${item.item_name}"></td>
                          <td th:text="${item.item_price}"></td>
                          
                          <td>  <input type="text" id="quantity" name="quantity"></td>
                          <td>  <input type="text" id="user_id" name="user_id"></td>
                          <td>        <button type="submit" class="btn btn-primary">
                                    Place Order
                                </button>
                          
                        </form>
                      </tr>
                       
                  </tbody> 
    </body>
</html>
