<!DOCTYPE html>

<html xmlns="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        
        
        

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Welcome to TAJ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hotel Services</a>
                    </li>

                </ul>
               
                
                     <a href="http://localhost:5082/customer/login" class="btn btn-outline-success my-2 my-sm-0">Sign out</a>
                    
                    
            </div>>

        </nav>


        <br> <br> <br><br> <br><br> <br>
        <div class="d-flex flex-row justify-content-center mt-2">
         
            <div class="card" style="width: 20%; ">
                <img class="card-img-top" th:src="@{/images/food_menu.jpg}" alt="Card image cap">
                <div class="card-body" >

                    <a href=" http://localhost:5082/items/getAllItems" class="btn btn-primary">Order Food</a>
                </div>
            </div>
            
            
       
               <div class="card" style="width: 20%;">
              <img class="card-img-top" th:src="@{/images/hotel.png}" alt="Card image cap">
                <div class="card-body">

                   <a th:href="@{/customer/view_room/{user_id}(user_id=${user.user_id})}"
                                  class="btn btn-primary"> Room Details </a>                    

                </div>
                
            </div>
        
       
        
            
            
            <div class="card" style="width: 20%;">
          
                <img class="card-img-top" th:src="@{/images/bill.png}" alt="Card image cap">
                <div class="card-body">

                <a th:href="@{/customer/view_bill/{user_id} (user_id=${user.user_id})}"
                                  class="btn btn-primary"> View Bill </a>                    

                </div>
                
            </div>
        
        </div>




    </body>
</html>
